.git
.gitkeep
.ipynb_checkpoints/*
/notebooks/*
/unused/*
Dockerfile
.DS_Store
.gitignore
README.md
leiame.txt
readme.txt
README.txt
env.*
/devops/*
/projects/*
/assets/releases

# To prevent storing dev/temporary container data
*.csv
/tmp/*
